/* ==========================================================================
   General mixins
   ========================================================================== */

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.small-gutter > [class*='col-'] {
    padding-right: 1px;
    padding-left: 1px;
}
.no-margin {
	margin: 0px;
}
.mdi {
	font-size: @icon-size;
}
