/* ==========================================================================
   General mixins
   ========================================================================== */

.no-gutter {
  .no-gutter-function();
  &-xs {
    @media (max-width: @screen-xs-max) {
      .no-gutter-function();
    }
  }
  &-sm {
    @media (min-width: @screen-sm-min) {
      .no-gutter-function();
    }
  }
  &-md {
    @media (min-width: @screen-md-min) {
      .no-gutter-function();
    }
  }
  &-lg {
    @media (min-width: @screen-lg-min) {
      .no-gutter-function();
    }
  }
}

.no-gutter-function() {
  & > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}


.small-gutter > [class*='col-'] {
    padding-right: 1px;
    padding-left: 1px;
}

.no-margin {
	margin: 0px;
}

.mdi {
	font-size: @icon-size;
}

.glyphicon {
  font-size: (@icon-size - 4px);
  &.glyphicon-bullhorn {
    top: -2px;
    left: 2px;
  }
}

// Placeholder text
.placeholder-fix() {
  // Firefox
  &::-moz-placeholder {
    font-size: 14px;
  }
  &:-ms-input-placeholder { font-size: 14px; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { font-size: 14px; } // Safari and Chrome
}
