// _variables.less
// Holds all variables used in project
// -----------------------------------

//== Fonts path
@path-fonts:    '../fonts';

//== Colours

// Primary colors
@red-berry: rgba(139, 0, 6, 1);		    		//#8B0006
@tamarind: rgba(49, 19, 18, 1);		    		//#311312

// Secondary colors
@red-oxide: rgba(121, 18, 8, 1);				  //#791208
@totem-pole: rgba(186, 27, 19, 1);				//#ba1b13
@orange-roughly: rgba(211, 62, 31, 1);		//#d33e1f
@brandy-punch: rgba(242, 136, 54, 1);			//#f28836

//Neutral colors
@white: rgba(255, 255, 255, 1);					//#FFFFFF
@black: rgba(0, 0, 0, 1);                   	//#000000
@pink-swan: rgba(194, 181, 181, 1);				//#C2B5B5

//==Material design icon size
@icon-size: 20px;
