// _variables.less
// Holds all variables used in project
// -----------------------------------

//== Fonts path
@path-fonts:    '../fonts';

//== Colours

// Primary colors
@red-berry: rgba(168, 7, 10, 1);		    	//#a8070a
@tamarind: rgba(54, 13, 15, 1);		    		//#360d0f

// Secondary colors
@red-oxide: rgba(121, 18, 8, 1);				  //#791208
@totem-pole: rgba(186, 27, 19, 1);				//#ba1b13
@orange-roughly: rgba(211, 62, 31, 1);		//#d33e1f
@brandy-punch: rgba(255, 147, 0, 1);			//#FF9300
@click-blue: rgb(66, 148, 247, 1);		//#4294F7
@click-green: rgb(87, 191, 149, 1); 	//#57BF95
@click-red: rgb(255, 38, 0, 1); 	//#FF2600

//Neutral colors
@white: rgba(255, 255, 255, 1);					  //#FFFFFF
@black: rgba(0, 0, 0, 1);                 //#000000
@pink-swan: rgba(200, 182, 182, 1);				//#c8b6b6
@space-gray: rgba(167, 170, 169, 1);		//#A7AAA9

//==Material design icon size
@icon-size: 20px;

// Bootstrap
@tooltip-max-width: 260px;
@tooltip-bg: #696969;
@tooltip-opacity: 1;
