.alert {
  border-radius: 0px;
  padding: 0px;
  border: none;
  i {
    vertical-align: middle;
  }
  span {
    padding-left: 5px;
    vertical-align: sub;
  }
  &-error {
    background-color: @white;
    // border: 1px solid @click-red;
    color: @click-red;
    .alert-links(@click-red);
  }
  &-success {
    background-color: @white;
    // border: 1px solid @click-green;
    color: @click-green;
    .alert-links(@click-green);
  }
  &-message {
    background-color: @white;
    // border: 1px solid @brandy-punch;
    color: @brandy-punch;
    .alert-links(@brandy-punch);
  }
  &-info {
    background-color: @white;
    // border: 1px solid @orange-roughly;
    color: @orange-roughly;
    .alert-links(@orange-roughly);
  }
  &-warning {
    background-color: @white;
    color: @brandy-punch;
    .alert-links(@brandy-punch);
  }
  &-dismissable {
    .close {
      right: 0px;
    }
  }
}

.alert-links(@color) {
  .close {
    &:hover {
      color: @color;
    }
  }
  .actions-link {
    color: @color;
  }
}
