.eac{
	&-avatar {
		& img {
      margin-bottom: 30px;
			border-radius: 70px;
			width: 150px;
		}
		.profile-picture {
			margin: 0 auto 30px;
			border-radius: 60px;
			width: 180px;
			height: 180px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
	}

	&-data {
	    .row {
	      margin-bottom: 20px;
	    }
	  	&-label {
	  		color: @black;
	  		.font-size(1.5);
	  		font-weight: bold;
	  		margin: 0 0 5px;
	  		word-break: break-word;
	  	}
	  	&-text {
				color: @black;
	  	}
	}
	
	.title-container {
	    border-bottom: 1px solid @black;
	    margin-bottom: 20px;
	    .title {
	    	font-family: 'Boing';
	    	font-size: 36px;
	    	font-weight: bold;
	      	color: @black;	      	
	    }
	    .actions-container {
	    	margin-top: 5px;
	      .actions-link, .actions-link:hover, .actions-link:visited {
	        color: @black;
	        text-decoration: none;
	      }
	    }
	    @media (max-width: @screen-xs-max) {
	    	.actions-container {
	    		margin-top: 0;
	        .actions-link {
	    		 .mdi {
	          	.font-size(3);
	          }
	        }
	      }
	    }
	  }

	&-flow-status{
		@media (max-width: @screen-xs-max) {
			float: right;
		}
	}
	&-approvers{
		@next-icon-size: 30px;
		@step-image-size: 80px;
		@step-number-size: 14px;
		@step-name-size: 14px;
		@step-space-size: 20px;
		@step-image-top-space: 10px;
		@step-image-bottom-space: 5px;

		&-list{
			display: flex;
			text-align: center;		
			flex-wrap: wrap;		

			.eac-approvers-step{
				position: relative;
				min-width: @step-image-size;
				height: (@step-image-size + @step-number-size + @step-image-top-space + @step-image-bottom-space+ @step-name-size);		
				margin-bottom: 50px;

				&-name{
					position: absolute;
				    top: (@step-image-size + @step-image-bottom-space);
				    left: 0;
				    right: 0;
				    margin-left: auto;
				    margin-right: auto;
				    font-size: @step-name-size;
				}

				&-image{
					text-align: center;
				    margin-left: auto;
				    margin-right: auto;
				    left: 0;
				    right: 0;
				    position: absolute;

				    img{
						border-radius: 50%;
						margin: 0 auto;
						display: block;
						max-width: 100%;
						height: @step-image-size;
					}
				}
				
				&-number{
					font-weight: bold;
					font-size: @step-number-size;
				}

				&-inner-wrapper {
					position: relative;
				    display: flex;
				    flex-wrap: wrap;
				}

				&-approver-inner-wrapper {
					position: relative;
				    min-width: 80px;    
				}

				&-approver-wrapper {
					margin-left: auto;
					margin-right: auto;
				}

			}

			.eac-approvers-next{
				position: relative;
			    width: (@next-icon-size + @step-space-size);

			    i.mdi{
					left: 0;
					right: 0;
					position: absolute;
					top: (@step-number-size+@step-image-top-space+@step-image-size/2-@next-icon-size/2);
					font-size: @next-icon-size;
				}
			}			 
		}
	}

	&.eac-policy-popup-static{		
		&.popover {
			background-color: #696969;
			color: white;
			max-width: 100vw;
			font-size: 12px;
			.popover-content {
			    padding: 0;
			}
			a{
				text-decoration: none;
				font-weight: bold;
				color: #23527c;
			}
			a:hover, a:focus{
				color:	#337ab7;
				text-decoration: underline;
			}
		}
		ul{
			list-style-type: circle;
		}
		.details-list{
			margin-left: 20px;
			margin-right: 20px;
		}	
		tr{
		    border: 1px solid #fff;
		}
	}
}

.cPP_MyTeamAssignmentChange{
	.employeeDetailHeader {
	    font-size : 28px;
	    color     : #DD1936;
	}

	.employeeDetailHeader .slds-avatar--large {
	    width  : 80px;
	    height : 80px;
	}
	.userName{
	    overflow: visible;
	    word-break: break-word;
	    white-space: normal;
	}

	.hide{
	    visibility: hidden;
	}

	.field-label{
		color: #16325c;
	}
	.inline-block{
		display: inline-block;
	}

	.column-readonly{
	    margin: 0;
	    padding: 0;
	}
}

.cPP_MyTeamAssignmentChangeAccept{
	.titleNote {
		font-size: 10px;
		font-weight: normal;
	}
	.confirm-button {
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    width: 150px;
	}
	.warning-important{
		color: rgb(255, 38, 0);
	}

	.actions-column{
		text-align: right;
	}	
}

.cPP_MyTeamAssignmentChangeComments{
	.comments-container{
		max-height: 250px;
	    overflow: auto;  
	}

	.collapseSection {
	    background-color: #ececec;
	    margin-bottom: 12px;
	    cursor: pointer;
	}

	.sectionIcon{
	    fill: #DD1936; 
	}

	.hideSectionIconContainer,
	.collapseSectionIconContainer{
	    margin-right: 6px;
	    margin-left: 6px;
	}

	.collapseSection .hideSectionIconContainer {
	    display: none;
	}

	.hideSection .collapseSectionIconContainer {
	    display: none;
	}

	.hideSection .hideSectionIconContainer {
	    display: inline-block;
	}
	.hideSection {
	    background-color: #ececec;
	}

	.col-comment{ 
	    padding-left: 0;   
	}

	.row-comment{
	    padding-bottom: 10px;
	}

	.comment-header{
	    font-size: 12px;
	}
}

.cPP_MyTeamAssignmentChangeContainer{
	.margin-right{
		margin-left: 10px;
	}
	.margin-left{
		margin-right: 10px
	}


	@media  (max-width:768px) {
		.margin-right{
			margin-left: 0;
		}
		.margin-left{
			margin-right: 0;
		}
	}

	.uiInput--input .input.form-control, .uiInput--input.input.form-control {
		border-bottom: 1px solid #f4f4f4 !important;
	}

	.uiInput--select .select.form-control,  .uiInput--select.select.form-control, .uiInput--select.select:not([multiple]).form-control, .uiInput--select .select:not([multiple]).form-control {
		border-bottom: 1px solid #f4f4f4 !important;
	}

	.glyphicon-calendar {
		right: 15px !important;
	}

	.text-warning{
		color: rgb(194, 57, 52);
	}
}

.cPP_MyTeamAssignmentChangeEmployeeDetails{
	.profile-photo{
		max-height: 200px;
	    max-width: 200px;
	}

	.form-output{
		display: block;
	}

	.display-inline, .display-inline div{
		display: inline;
	}

	.label-font{
		font-weight: normal;
	}


	.formFieldParentClassReadonly {
		margin:	0;
		padding: 0;
	}
	.formFieldLabelClassReadonly{
		margin-right: 20px;
	}

	.formFieldLabelContainerClassReadonly{
		display: inline-block;
	}

	.formFieldElementClassReadonly{
		display: inline-block;
	}
	.formFieldElementClassReadonly span{
		min-height: 0;
	}


	.formFieldClassReadonly{
		margin:	0;
		padding: 0;
	}

	.warning-important{
		color: rgb(255, 38, 0);
	}
}

.cPP_MyTeamAssignmentChangeRelocation{
	.form-field-class{
		
	}
	.row-address{
		margin-bottom: 30px;
	}
}

.cPP_MyTeamAssignmentChangeResponseForm{
	.field-sublabel{
		margin-top: 0;
		padding-top: 0;
	}

	.inline-block{
		display: inline-block;
	}

	.field-label{
		color: #16325c;
	}

	.titleNote {
		font-size: 10px;
		font-weight: normal;
	}

	.warning-important{
		color: rgb(255, 38, 0);
	}
}

.cPP_MyTeamAssignmentChangeResponseFormPBP{
	.table-cell-with-field{
		overflow: visible;
		position: static;
	}
	.table-cell-field-container{
		clear: both;
		position: relative;
		text-align: left;
	}
	.table-cell-field-container .form-label-tooltip {
		
	}
	.table-cell-field-container .slds-form-element__control {
				
	}

	.table-cell-field-container .table-cell-field-parent{
		margin-right: 20px;
	}

	.table-cell-field-container .table-cell-tooltip{
		position: absolute;
		right: 0;
	}

	.table-row-label{
		font-weight: bold;
	}

	table { 
		border: none; 
		border-collapse: collapse; 
		table-layout: fixed;
	}
	table td { 
		border-left: 1px solid #000; 
	}
	table td:first-child { 
		border-left: none; 
	}
	.row-without-margin{
		margin-bottom: 0;
	}

	.table-cell-header{
	    text-align: center;
	    font-weight: bold;
	    font-size: 20px;
	}
}