.links {
  .title-container {
    border-bottom: 1px solid @black;
    margin-bottom: 20px;
    .title {
      color: @black;
      font-weight: bold;
      .font-size(2);
    }
  }
  .nav-section {
    @media (min-width: @screen-sm-min) {
      border-right: 1px solid @black;
      padding-right: 0px;
    }
    .links-nav {
      @media (max-width: @screen-xs-max) {
        padding-top: 15px;
      }
      @media (min-width: @screen-sm-min) {
        padding-top: 30px;
      }
      &-item {
        &-link, &-link:hover, &-link:focus {
          color: @black;
          font-weight: bold;
          .font-size(2);
          background: none;
        }
      }
      &-item.active {
        border-bottom: 1px solid @black;
        a, a:hover, a:focus{
            color: @black;
            font-weight: bold;
            .font-size(2);
            background: none;
          }
      }
    }
  }
  &-section{
    margin: 0;
    @media (min-width: @screen-sm-min) {
      padding: 10px 0 0 40px;
    }
    .icon-container {
      @media (max-width: @screen-xs-max) {
        padding: 5px 15px;
      }      
      .icon {
        .font-size(3);
      }
    }
    .sublink {
      list-style: none;
      padding: 0;
      &-item {
        &-link {
          color: @black;
          padding: 2px 0px;
          @media (max-width: @screen-xs-max) {
            padding: 5px 15px;
          }
          display: block;
          text-decoration: underline;
        }
      }
    }
  }
}
