.navbar {
  &-ab {
    border-radius: 0px;
    border: none;

    @media (max-width: @screen-xs-max) {
      .mdi {
        font-size: 24px;
      }
    }

    @media (min-width: @screen-sm-min) {
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-collapse {
          padding-left: 0px;
          padding-right: 0px;
        }
        .navbar-left {
          order: -1;
        }
        .navbar-right {
          order: 1;
          display: flex;
          align-items: center;
        }
      }
      .navbar-nav {
        &.menu {
          & > li {
              padding: 0px 1px;
              & > a {
                padding-top: 10px;
                padding-bottom: 10px;
              }
          }
        }
      }
    }

    .navbar {
      &-header {
        @media (max-width: @screen-xs-max) {
          display: block;
          float: left;
          .mdi-menu {
            color: @black;
          }
        }
        @media (min-width: @screen-sm-min) {
          display: none;
        }
      }
      &-icons {
        @media (max-width: @screen-xs-max) {
          margin-top: 0px;
          &.navbar-right {
            float: right;
          }
        }
        & > li {
          @media (max-width: @screen-xs-max) {
            float: left;
            & > a {
              padding: 10px;
            }
          }
          & > a {
            &.avatar {
              img {
                @media (max-width: @screen-sm-max) {
                  max-width: 60px;
                }
                @media (max-width: @screen-xs-max) {
                  max-width: 50px;
                }
                max-width: 100px;
              }
            }
          }
        }
      }
    }
  }
}

.header {
  .menu {
    &-item {
      &-link {
        color: @black;
        border-radius: 0;
        border-bottom: 3px solid transparent;
        .transition(~"250ms border-color ease");
        &:hover, &:focus {
          background: none;
          border-bottom: 3px solid @fuel-yellow;
        }
      }
      &.active{
        a, a:hover, a:focus{
          color: @black;
          font-weight: bold;
          background: none;
          border-bottom: 3px solid @fuel-yellow;
        }
      }
    }
  }
  .icon-menu {
    &-item {
      &-link {
        color: @black;
        .transition(~"250ms color ease");
        &:hover, &:focus {
          background: none;
          color: @shuttle-gray;
        }
        &.avatar {
          padding: 0;
          img {
            border-radius: 0 0 50% 50%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

.dropdown-menu {
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: @black;
  & > li {
    & > a {
      color: @black;
      .transition(~"250ms background-color ease");
      &:hover {
        background-color: @athens-gray;
      }
    }
  }
}
