// Since navbar is fixed, body has to go down
@xs-height: 48px;
@sm-height: 58px;
@md-height: 80px;

.siteforceNapiliBody {
  .cCenterPanel {
    @media (max-width: @screen-xs-max) {
      padding-top: @xs-height;
    }

    @media (min-width: @screen-sm-min) {
      padding-top: @sm-height;
    }

    @media (min-width: @screen-md-min) {
      padding-top: @md-height;
    }
  }
}

.navbar {
  &-ab {
    border-radius: 0px;
    border: none;
    z-index: 3;

    position: fixed;
    top: 0px;
    background: @white;
    width: 100%;

    @media (max-width: @screen-xs-max) {
      min-height: @xs-height;
      height: @xs-height;
      .navbar-toggle {
        margin-top: 0px;
      }
    }

    @media (min-width: @screen-sm-min) {
      height: @sm-height;
    }

    @media (min-width: @screen-md-min) {
      height: @md-height;
    }

    @media (max-width: @screen-xs-max) {
      .mdi {
        font-size: 24px;
      }
      .nav {
        &.navbar-right {
          & > li {
            &.dropdown {
              position: static;
              .dropdown-menu {
                &.search-dropdown {
                  .dropdown-search-menu-mobile();
                }
                .dropdown-menu-mobile();
              }
            }
          }
        }
      }
    }

    &-buttons {
      & li button {
        border-left: 1px solid @black;
        border-radius: 0;
        text-decoration: none;
        border-radius: 0;   
      }
      & li:first-child button {
        border-left: 0;
      }
      & > li.active button {
          border: 0;
      }
      .active-tab {
        font-weight: bold;
      }
      .btn {
        &:focus, :active, :hover, :active:focus {
          background-color: transparent;
        }
        &:hover {
          text-decoration: none;
          color: #ff9300;
        }
      }
    }
    .nav {
      & > li {
        &, &.open {
          .include-notifications();
        }
        &.open {
          &.icon-menu-item {
            & > a {
              color: @brandy-punch;
              background-color: @white;
            }
          }
          &.menu-item {
            & > a {
              background-color: @white;
              border-color: @brandy-punch;
            }
          }
        }
      }
    }

    @media (min-width: @screen-sm-min) {
      .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-collapse {
          padding-left: 0px;
          padding-right: 0px;
        }
        .navbar-left {
          order: -1;
        }
        .navbar-right {
          order: 1;
          display: flex;
          align-items: center;
        }
      }
      .navbar-nav {
        & > li {
          & > a {
            padding-top: 11px;
            padding-bottom: 12px;
          }
        }

        &.menu {
          & > li {
              padding: 0px 1px;
              & > a {
                padding-top: 14px;
                padding-bottom: 14px;
              }
          }
        }
      }
    }

    @media (min-width: 1280px) {
      .container {
        width: 1280px;
      }
    }

    .navbar {

      &-center {
        @media (max-width: @screen-sm-max) {
          display: none;
        }
        align-self: flex-start;
        .img-brand {
          display: block;
          margin-top: 26px;
          height: 36px;
        }
        .img-brand-glass {
          display: block;
          margin-top: 26px;
          height: 70px;
        }
      }
      &-header {
        @media (max-width: @screen-xs-max) {
          display: block;
          float: left;
          .mdi-menu {
            color: @black;
          }
        }
        @media (min-width: @screen-sm-min) {
          display: none;
        }
      }
      &-icons {
        @media (min-width: @screen-sm-min) {
          position: relative;
        }
        @media (max-width: @screen-xs-max) {
          margin-top: 0px;
          &.navbar-right {
            float: right;
          }
        }
        & > li {
          @media (max-width: @screen-xs-max) {
            float: left;
            & > a {
              padding: 10px;
            }
          }
          & > a {
            &.avatar {
              img {
                @media (max-width: @screen-sm-max) {
                  max-width: 60px;
                }
                @media (max-width: @screen-xs-max) {
                  max-width: 50px;
                }
                max-width: 100px;
                border-radius: 0 0 35% 35%;
              }
              .avatar-image {
                @media (max-width: @screen-sm-max) {
                  width: 60px;
                  height: 67px;
                }
                @media (max-width: @screen-xs-max) {
                  width: 50px;
                  height: 55px;
                }
                height: 110px;
                width: 100px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: 0 0 35% 35%;
              }
            }
          }
        }

        .icon-badge {
          &-counter {
            &:after {
              content: attr(data-badge);
              position: absolute;
              top: -8px;
              right: -8px;
              font-size: 10px;
              background: @brandy-punch;
              color: @white;
              width: 18px;
              height: 18px;
              text-align:center;
              line-height: 18px;
              border-radius:50%;
              font-family: Arial;
            }
          }
        }
      }
    }
  }
}

.header {
  .menu {
    @media (max-width: @screen-xs-max) {
      background: @white;
    }
    &-item {
      &.dropdown {
        & > a {
          padding-right: 30px;
        }
        .mdi-arrow-drop-down {
          position: absolute;
          top: 5px;
          bottom: 0px;
          line-height: 36px;
          font-size: 28px;
          @media (max-width: @screen-xs-max) {
            right: 0px;
            width: 60px;
            text-align: center;
          }
          @media (min-width: @screen-sm-min) {
            right: 0px;
          }
          .transition(~"250ms color ease");
          &:hover {
            color: @brandy-punch;
          }
        }
      }
      &-link {
        color: @black;
        border-radius: 0;
        border-bottom: 3px solid transparent;
        .transition(~"250ms border-color ease");
        &:hover, &:active {
          background: none;
          border-bottom: 3px solid @brandy-punch;
        }
        &:focus {
          background: none;
          outline: none;
        }
      }
      &.active {
        & > a, & > a:hover, & > a:active{
          color: @black;
          font-weight: bold;
          background: none;
          border-bottom: 3px solid @brandy-punch;
        }
      }
    }
  }
  .icon-menu {
    &-item {
      &-notifications {
        position: static;
      }
      &.active {
        .icon-menu-item-link {
          color: @brandy-punch;
        }
      }
      &-link {
        color: @black;
        .transition(~"250ms color ease");
        &:hover, &:active {
          background: none;
          color: @pink-swan;
        }
        &.avatar {
          padding: 0;
          img {
            border-radius: 0 0 50% 50%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

.bottom-borders() {
  &:after {
    display: block;
    content: "";
    border-bottom: 3px solid @brandy-punch;
  }
}

.dropdown-menu {
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: @black;
  & > li {
    & > a {
      color: @black;
      .transition(~"250ms background-color ease");
      &:hover {
        background-color: fade(@pink-swan, 50%);
      }
    }
  }
  &.search-dropdown {
   .form-group {
      margin-bottom: 0px;
      input {
        border-radius: 0px;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid @black;
        -webkit-box-shadow: none;
                box-shadow: none;
        &:focus, &:active {
          -webkit-box-shadow: none;
                  box-shadow: none;
          outline: none;
        }
      }
    }
  }
}

.dropdown-menu-mobile() {
  position: absolute;
  background-color: @white;
  border: 1px solid @black;
  left: auto;
  right: 0px;
  top: 48px;
}
.dropdown-search-menu-mobile() {
  border: none;
  position: absolute;
  background-color: @white;
  left: auto;
  right: auto;
  top: 48px;
}

.include-notifications() {
  .notifications {
    color: @black;
    border: 1px solid @black;
    &.dropdown-menu {
      padding: 0px;
      @media (max-width: @screen-xs-max) {
        width: 100%;
        .dropdown-menu-mobile();
      }
      @media (min-width: @screen-sm-min) {
        width: 480px;
        // top: 72%;
        top: auto;
      }
    }
    &-header {
      padding: 10px;
      span {
        font-weight: bold;
      }
    }
    &-list {
      padding: 15px;
      @media (max-width: @screen-xs-max) {
        max-height: 200px;
      }
      @media (min-width: @screen-sm-min) {
        max-height: 300px;
      }
      overflow-y: auto;
      .notification {
        &-record {
          margin-bottom: 10px;
          a {
            display: block;
            color: @black;
            text-decoration: none;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 2px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &-date {
          font-style: italic;
          font-weight: lighter;
          font-size: 12px;
        }
      }
    }
    &-button {
      padding: 10px;
      text-align: center;
      a {
        margin: 0 5px;
        padding: 2px;
      }
    }
  }
}

.home-page {
  .navbar-ab .navbar-center {
    display: none;
  }
}

.pp-footer {
  margin: 20px auto;
}
