.my-info {
	&-avatar {
		& img {
      margin-bottom: 30px;
			border-radius: 70px;
			width: 150px;
		}
		.profile-picture {
			margin: 0 auto 30px;
			border-radius: 60px;
			width: 180px;
			height: 180px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
		}
	}
	.nav-section {
    padding-right: 0px;
		@media (max-width: @screen-xs-max) {
			margin-bottom: 20px;
		}
    .my-info-nav {
      padding-top: 30px;
      &-item {
      	border-bottom: 1px solid @black;
        &-link, &-link:hover, &-link:focus {
          color: @black;
          .font-size(1.5);
          background: none;
        }
      }
      &-item.active {
        a, a:hover, a:focus{
            color: @black;
            font-weight: bold;
            .font-size(1.5);
            background: none;
          }
      }
    }
    &-print-btn, &-print-btn:focus {
      border: none;
      background: none;
      outline:none;
      color: @black;
      .font-size(1.3);
    }
  }
	.title-container {
    border-bottom: 1px solid @black;
    margin-bottom: 20px;
    .title {
      color: @black;
      font-weight: bold;
      .font-size(2);
    }
    .actions-container {
    	margin-top: 5px;
      .actions-link, .actions-link:hover, .actions-link:visited {
        color: @black;
        text-decoration: none;
      }
    }
    @media (max-width: @screen-xs-max) {
    	.actions-container {
    		margin-top: 0;
        .actions-link {
    		 .mdi {
          	.font-size(3);
          }
        }
      }
    }
  }
  &-data {
    .row {
      margin-bottom: 20px;
    }
  	&-label {
  		color: @black;
  		.font-size(1.5);
  		font-weight: bold;
  		margin: 0 0 5px;
  		word-break: break-word;
  	}
  	&-text {
			color: @black;
  	}
  }
  .separator {
    border-bottom: 1px solid @black;
    margin: 10px 0;
  }
  .data-placeholder {
    .placeholder-blur {
      color: transparent;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    } 
  }
}
