.my-team {
  &-client-tile {
    padding-top: 10px;
    padding-bottom: 10px;
    .tile {
      &-image {
        text-align: center;
        i {
          &.mdi {
            font-size: 80px;
            display: block;
          }
        }
        img {
          border-radius: 50%;
          margin: 0 auto;
          display: block;
          max-width: 100%;
          max-height: 80px;
        }
      }
      &-controls {
        text-align: right;
        .mdi-settings {
          opacity: 0;
          margin-left: 5px;
          &.active {
            opacity: 1;
            cursor: pointer;
          }
        }
        i {
          &.mdi {
            color: @black;
            .team-hover();
          }
        }
      }
      &-data {
        padding-top: 15px;
        border-top: 1px solid @black;
        .client {
          &-name {
            font-weight: bold;
          }
          &-position {

          }
          &-links {
            a {
              color: @black;
              display: block;
              &.mail-link {
                text-decoration: underline;
              }
              .team-hover();
            }
          }
        }
      }
    }
  }

  .mdi-close {
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    .team-hover();
  }

  .subteam-active, .subteam {
    background-color: rgb(242, 242, 242);
  }

}

.team-hover() {
  .transition(~"250ms ease color");
  &:hover {
    color: @brandy-punch;
  }
}
