.cell-shrink {
  width: 1%;
}

.table {
  & > thead {
    & > tr {
      & > th {
        border-bottom: 1px solid @black;
      }
    }
  }
  & > tbody {
    & > tr {
      & > td {
        border-top: none;
        a {
          color: @tamarind;
          .transition(~"250ms color ease");
          &:hover {
            color: @red-berry;
          }
        }
        &:last-child {
          .dropdown-menu {
            right: 0px;
            left: auto;
          }
        }
      }
    }
  }

  .is-sortable {
    cursor: pointer;
    position: relative;
    padding-right: 25px;
    &:hover {
      color: @brandy-punch;
    }
    .sort-icons {
      position: absolute;
      right: 3px;
      .mdi {
        font-size: 14px;
      }
    }
  }

  &-fixed {
    table-layout: fixed;
    width: 100%;
    td {
      white-space: nowrap;
      position: relative;
    }
  }
  &-stacked {
    &-xs {
      @media (max-width: @screen-xs-max) {
        .table-stacked();
      }
    }
    &-sm {
      @media (max-width: @screen-sm-max) {
        .table-stacked();
      }
    }
    &-md {
      @media (max-width: @screen-md-max) {
        .table-stacked();
      }
    }
    &-lg {
      .table-stacked();
    }
  }
  &-font {
    &-small {
      font-size: 12px;
      .dropdown-menu {
        font-size: 12px;
      }
      .is-sortable {
        .sort-icons {
          .mdi {
            font-size: 11px;
          }
        }
      }
    }
  }
  &-hover {
    & > tbody {
      & > tr {
        .transition(~"250ms background-color ease");
      }
    }
  }
}

.table-stacked() {
  & > thead {
    display: none;
  }
  & > tbody {
    & > tr {
      display: block;
      border-bottom: 1px solid @black;
      &:first-child {
        border-top: 1px solid @black;
      }
      & > td {
        display: block;
        text-align: right;
        &:before {
          color: @black;
          font-weight: bold;
          display: block;
          content: attr(data-label);
          float: left;
        }
        &:after {
          clear: both;
          content: "";
          display: block;
        }
      }
    }
  }
  .cell-shrink {
    width: 100%;
  }
}

.filters-row {
  margin-top: 20px;
  margin-bottom: 20px;
  @media (min-width: @screen-sm-min) {
    .form-group {
      margin-bottom: 0px;
    }
  }
}

.reset-link {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 6px;
}
