// .tooltip {
//   &.in {
//     opacity: 1;
//   }
//   &-inner {
//     background: #696969;
//   }
// }

.tooltip {
  &-inner {
    min-width: 160px;
    white-space: pre-line;
    word-break: break-word;
  }
}
