.btn {
  border-radius: 0px;
  &:focus, &:active,
  &:active:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  &-mdi {
    color: @black;
    &:active, &:focus, &:hover {
      color: @brandy-punch;
    }
    &-totem {
      color: @totem-pole;
    }
    .mdi {
      font-size: 20px;
      &:first-child {
        margin-right: 0px;
      }
    }
  }
  &-black {
    color: @black;
    &:hover {
      text-decoration: underline;
    }
    &:active, &:focus {
      color: @brandy-punch;
    }
  }

  &-submit, &-cancel {
    text-transform: uppercase;   
    font-weight: bold;   
  }

  &-submit {    
    color: @click-blue;
    &:active, &:focus, &:hover {
       color: @click-blue;  
    }
  }

  &-cancel {  
    color: @space-gray; 
    &:active, &:focus, &:hover {
       color: @space-gray;  
    }
  }
}

.btn-totem {
  .button-variant(@white, @totem-pole, @totem-pole);
}

.btn-brandy {
  .button-variant(@white, @brandy-punch, @brandy-punch);
}
