.flex {
  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-wrap {
    display: flex;
    flex-wrap: wrap;
  }
}

.box {
  &-absolute {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}

.autofit {
  width: 100%;
  height: 100%;
}
