.flex {
  .flex-functions();
  &-xs {
    @media (max-width: @screen-xs-max) {
      .flex-functions();
    }
  }
  &-sm {
    @media (min-width: @screen-sm-min) {
      .flex-functions();
    }
  }
  &-md {
    @media (min-width: @screen-md-min) {
      .flex-functions();
    }
  }
  &-lg {
    @media (min-width: @screen-lg-min) {
      .flex-functions();
    }
  }
}

.flex-functions() {
  &-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  &-align {
    &-start {
      align-items: flex-start;
    }
    &-end {
      align-items: flex-end;
    }
  }
}

.box {
  &-absolute {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
}

.autofit {
  width: 100%;
  height: 100%;
}

.top-row {
  .btn {
    margin-top: 20px;
  }
}

.btn {
  .mdi {
    font-size: 14px;
    &:first-child {
      margin-right: 5px;
    }
  }
}

@media (min-width: @screen-sm-min) {
  .text-left-sm {
    text-align: left;
  }
  .text-right-sm {
    text-align: right;
  }
}
