// Override standard Salesforce CSS

.siteforceNapiliBody .cCenterPanel {
  @media only screen and (min-aspect-ratio: 4/3) and (min-width: 48em), only screen and (min-width: 64.0625em) {
    max-width: none;
  }
  .contentRegion {
    &.slds-col--padded {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
}

.siteforceSldsOneColLayout {
  & > .slds-col--padded {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.componentContainer {
  padding: 0px 0px!important;
}

.slds-scope {
  color: @black;
  font-family: 'Basis Grotesque';
}

input {
  position: relative;
  z-index: 1;
  border-radius: 0px;
}
