// Boing
@font-face {
  font-family: 'Boing';
  src: url('@{path-fonts}/Boing/Boing_RegularWEB.eot') format('enbedded-opentype'),
       url('@{path-fonts}/Boing/Boing_RegularWEB.woff2') format('woff2'),
       url('@{path-fonts}/Boing/Boing_RegularWEB.woff') format('woff'),
       url('@{path-fonts}/Boing/Boing_RegularWEB.svg#boing-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boing';
  src: url('@{path-fonts}/Boing/Boing_MediumWEB.eot') format('enbedded-opentype'),
       url('@{path-fonts}/Boing/Boing_MediumWEB.woff2') format('woff2'),
       url('@{path-fonts}/Boing/Boing_MediumWEB.woff') format('woff'),
       url('@{path-fonts}/Boing/Boing_MediumWEB.svg#boing-medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Boing';
  src: url('@{path-fonts}/Boing/Boing_BoldWEB.eot') format('enbedded-opentype'),
       url('@{path-fonts}/Boing/Boing_BoldWEB.woff2') format('woff2'),
       url('@{path-fonts}/Boing/Boing_BoldWEB.woff') format('woff'),
       url('@{path-fonts}/Boing/Boing_BoldWEB.svg#boing-bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

// Basis Grotesque
@font-face {
    font-family: 'Basis Grotesque';
    src: url('@{path-fonts}/Basis_Grotesque/basis-grotesque-light-pro.eot');
    src: url('@{path-fonts}/Basis_Grotesque/basis-grotesque-light-pro.eot?#iefix') format('embedded-opentype'),
         url('@{path-fonts}/Basis_Grotesque/basis-grotesque-light-pro.woff2') format('woff2'),
         url('@{path-fonts}/Basis_Grotesque/basis-grotesque-light-pro.woff') format('woff'),
         url('@{path-fonts}/Basis_Grotesque/basis-grotesque-light-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque';
    src: url('@{path-fonts}/Basis_Grotesque/basis-grotesque-regular-pro.eot');
    src: url('@{path-fonts}/Basis_Grotesque/basis-grotesque-regular-pro.eot?#iefix') format('embedded-opentype'),
         url('@{path-fonts}/Basis_Grotesque/basis-grotesque-regular-pro.woff2') format('woff2'),
         url('@{path-fonts}/Basis_Grotesque/basis-grotesque-regular-pro.woff') format('woff'),
         url('@{path-fonts}/Basis_Grotesque/basis-grotesque-regular-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque';
    src: url('@{path-fonts}/Basis_Grotesque/basis-grotesque-bold-pro.eot');
    src: url('@{path-fonts}/Basis_Grotesque/basis-grotesque-bold-pro.eot?#iefix') format('embedded-opentype'),
         url('@{path-fonts}/Basis_Grotesque/basis-grotesque-bold-pro.woff2') format('woff2'),
         url('@{path-fonts}/Basis_Grotesque/basis-grotesque-bold-pro.woff') format('woff'),
         url('@{path-fonts}/Basis_Grotesque/basis-grotesque-bold-pro.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Basis Grotesque Off White';
    src: url('@{path-fonts}/Basis_Grotesque/basis-grotesque-off-white-pro.eot');
    src: url('@{path-fonts}/Basis_Grotesque/basis-grotesque-off-white-pro.eot?#iefix') format('embedded-opentype'),
         url('@{path-fonts}/Basis_Grotesque/basis-grotesque-off-white-pro.woff2') format('woff2'),
         url('@{path-fonts}/Basis_Grotesque/basis-grotesque-off-white-pro.woff') format('woff'),
         url('@{path-fonts}/Basis_Grotesque/basis-grotesque-off-white-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Basis Grotesque';
}

@headings-font-family: 'Basis Grotesque';
@headings-font-weight: bold;

// Override Community Styles
.siteforceNapiliStyle {
  // Copied from bootstrap styles
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    line-height: @headings-line-height;
    color: @headings-color;

    small,
    .small {
      font-weight: normal;
      line-height: 1;
      color: @headings-small-color;
    }
  }

  h1, .h1,
  h2, .h2,
  h3, .h3 {
    margin-top: @line-height-computed;
    margin-bottom: (@line-height-computed / 2);

    small,
    .small {
      font-size: 65%;
    }
  }
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin-top: (@line-height-computed / 2);
    margin-bottom: (@line-height-computed / 2);

    small,
    .small {
      font-size: 75%;
    }
  }

  h1, .h1 { font-size: @font-size-h1; }
  h2, .h2 { font-size: @font-size-h2; }
  h3, .h3 { font-size: @font-size-h3; }
  h4, .h4 { font-size: @font-size-h4; }
  h5, .h5 { font-size: @font-size-h5; }
  h6, .h6 { font-size: @font-size-h6; }
}

a {
  &.red-link {
    color: @red-berry;
    &:hover {
      color: @totem-pole;
    }
  }
}

.text-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.white-space {
  &-normal {
    white-space: normal;
  }
  &-nowrap {
    white-space: nowrap;
  }
}

.word-break {
  &-all {
      word-break: break-all;
  }
}
